---
import Nav from './nav/index.astro';
import Logo from './logo/index.astro';
---

<!DOCTYPE html>
<html lang="en">
  <!-- <head></head> -->
  <div class="header__wrapper">
    <header class="header">
      <Logo />
      <Nav />
    </header>
  </div>
  <style>
    .header__wrapper {
      background-color: var(--color-white);
      margin: 0 auto;
    }
    .header {
      align-items: center;
      display: flex;
      max-width: 1406px;
      width: 100%;
      padding: 32px 0 32px 0;
      justify-content: space-evenly;
    }
  </style>


</html>
