<nav class="nav">
  <a class="find">Поиск Вакансий</a>
  <a class="favorite">Избранное</a>
</nav>
<style>
  .nav {
    display: flex;
    gap: 60px;
  }
  .find {
    font-weight: var(--fw-normal);
    color: var(--color-blue);
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
  .favorite {
    font-weight: var(--fw-light);
    color: var(--color-black);
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
</style>
