<div class='logo'>
  <img alt='logo' src='../../../../public/header/logo.svg'/>
  <h1>
    Jobored
  </h1>
</div>
<style>
  .logo {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
  }
  h1 {
    font-family: 'Poppins';
    color: var(--color-black)
    font-weight: var(--fw-bold);
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }
</style>
